extends layout.pug

//- Page that has all the available games to choose from, as well as being able to create games

block content
	h1 Available Games!

	.column2
		button(id='refreshbtn', onclick='refreshButton()') Refresh page!
		br
		br
		form(action='/create',method='post')
			div 
				button(id='createbtn', onclick='createGame') Create a new game!

		each game in game_list
			if game.playeramt<2
				li: a(href="/"+game.gameid) #{game.gameid}
	
	.column2
		h3 Leaderboard!
		ol
			each leader in leaderboard_list
				li #{leader.totalPoints} ~ #{leader.username}
	
		p ----------------------------------------------
		h3 Chatbox
		div.textbox
			div(id='lobbyChatHistory')
			
			br
			form(type='submit',id='chat-form')
				input(type='text',id='chat')
				button(id='say') Say

	script(src='/socket.io/socket.io.js')
	script(src='lobbyClient.js')
		