extends layout.pug

block content
	br
	br
	button(onclick='back()') Back
	h1 #{username}'s Friend List

	input.hidden(type='text',id='currentUser',value=username,disabled)

	.column3
		div.errormsg(id='message')
		form(type='submit',id='addFriend-form')
				input(type='text',id='username')
				button(id='addbtn') Add Friend by Username

	.column3
		h3 Friends!
		if friendFlag
			div(id='friendFlagMsg') No friends!
		else
			table 
				tbody
				each friend in friend_list
					tr
						td #{friend}
						td: button(id='acceptbtn', onclick='removeFriend("'+friend+'")') Remove

	.column3
		h3 Friend Requests!
		if requestFlag
			div(id='requestFlagMsg') No friend requests!
		else
			table 
				tbody
				each request in request_list
					tr
						td #{request}
						td: button(id='acceptbtn', onclick='acceptFriend("'+request+'")') Accept
						td: button(id='denybtn', onclick='denyFriend("'+request+'")') Deny
			

	script(src='/socket.io/socket.io.js')
	script(src='friendClient.js')
	script(src='navigation.js')