extends layout.pug

//- Page for players to log in to their accounts

block content
	h1 Login

	if message
			p.errormsg #{message}

	form(action = '/login', method = 'post')
		input(type = 'email', placeholder = 'Email Address', name = 'email')
		br
		input(type = 'password', name = 'password')
		br
		button(type = 'submit') Login

	p
		button(onclick='signup()') Don't have an account? Sign up!
	p
		button(onclick='back()') Play as guest

	script(src='navigation.js')