extends layout.pug

//- LOGIN
//- Page for players to log in to their accounts

block content
	button(onclick='back()') Play as guest
	br
	h1 Login

	hr
	br
	if message
		.box.center
			.redbox
				p.errormsg.centerText #{message}
		br
	.box.center
		.redbox
			form.centerText(action = '/login', method = 'post')
				br
				input.signupInput(type = 'email', placeholder = 'Email Address', name = 'email')
				br
				br
				input.signupInput(type = 'password', placeholder = 'Password', name = 'password')
				br
				br
				button(type = 'submit') Login

			hr
			p
				button.centerBlock(onclick='signup()') Don't have an account? Sign up!

	script(src='navigation.js')