/* CSS PAGE */

* {
    font-size: 1.05rem;
    font-family: 'Gill Sans', sans-serif;
    accent-color: white;
}

table {
    text-align: center;
    border: 0.15rem solid;
    margin: 2rem;

}

button {
    border-radius: 1rem;
    border: 0.1rem solid;
    cursor: pointer;
    background-color: white;
    color: black;
    
}

button:active {
    box-shadow: inset 0px 5px 10px rgb(0,0,0,0.7);
}

button:disabled {
    box-shadow: inset 1rem 1rem 1rem 1rem rgb(0,0,0,0.6);
}

h1 {
    font-size: 1.8rem;
    text-align: center;
}

h2 {
    font-size: 1.25rem;
    text-align: center;
}

h3 {
    font-size: 1.5rem;
    text-align: center;
}

hr {
    border: 0.1rem dotted;
}

input[type=text] {
    border-radius: 1rem;
    border: 0.15rem solid;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    color: black;
}

input[type=text]::placeholder {
    text-align: center;
}

.chatTextbox {
    max-width: 80%;
    min-width: 80%;
}

input[type=password] {
    border-radius: 1rem;
    border: 0.15rem solid;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    color: black;
}

input[type=password]::placeholder {
    text-align: center;
}

input[type=email] {
    border-radius: 1rem;
    border: 0.15rem solid;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    color: black;
}

input[type=email]::placeholder {
    text-align: center;
}

/*https://www.shecodes.io/athena */
.hidden {
    display: none;
}

/*https://www.w3schools.com/howto/howto_css_two_columns.asp */
.column2 {
    float: left;
    width: 50%;
}

.column3 {
    float: left;
    width: 33%;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.centerText {
    text-align: center;
}

/*https://www.shecodes.io/athena/12186-how-to-center-a-button-using-css*/
.centerBlock {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.diceButton {
    border: none !important;
    background-color: rgb(0,0,0,0) !important;
    box-shadow: none !important;
    display: inline-block;
}

.centerDice {
    display:inline-block;
    margin: 0 auto;
}

.saveDice {
    border-radius: 0.7rem;
    border: solid 0.2rem;
    color: red;
}

/*https://www.geeksforgeeks.org/how-to-create-popup-box-using-html-and-css/*/
.popup {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    display: none;
}

.popup-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888888;
    width: 55%;
    font-weight: bolder;
}

.popup-content button {
    display: block;
    margin: 0 auto;
}

.show {
    display: block;
}

.right {
    float: right;
}

.left {
    float: left;
}

.bordered {
    outline: 0.15rem dotted;
    border: 0.15rem dotted;
}

.button {
    border-radius: 1rem;
    border: 0.1rem solid;
    cursor: pointer;
    padding: 0.1rem 0.5rem 0.1rem 0.5rem;
    text-decoration: none;
}

/*https://stackoverflow.com/questions/21227287/make-div-scrollable*/
.textbox {
    min-width: 100%;
    height: 12rem;
    overflow-y: auto;
    float: left;
    position: relative;
    margin-left: -5px;
}

.availableGamesBox {
    max-width: 80%;
    min-width: 70%;
    height: 12rem;
    overflow-y: auto;
    float: left;
    position: relative;
    margin-left: -5px;
}

.friendsBox {
    min-width: 70%;
    max-width: 80%;
    height: 1rem;
    overflow-y: auto;
    margin: auto;
    border-radius: 1rem;
}

.box {
    border: 0.2rem solid;
    border-radius: 1rem;
    border-color: black;
    max-width: 85%;
    min-width: 85%;
    padding: 1rem 1rem 1rem 1rem;
    background-color: rgb(255, 255, 255, 0.10);
}

.redbox {
    border: 0.2rem solid;
    border-radius: 1rem;
    border-color: red;
    max-width: 95%;
    min-width: 95%;
    margin: auto;
    padding: 0.5rem;
}

.errormsg {
    color: rgb(162, 0, 0);
    font-weight: bold;
}

.signupInput {
    min-width: 35%;
}

.im {
    text-align: center;
    font-size: 1rem;
}

.underline {
    text-decoration: underline;
}

.customHeader {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

/*https://www.w3schools.com/html/html_images_background.asp */
body {
    background-image: url('images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}